.colors{
    height: 150px;
    width: 200px;
    display: block;
}

#boxRed{
    background-color: red;
    float: left;
}

#boxBlue{
    background-color: Blue;
    float: left;
}

#boxGreen{
    background-color: Green;
    float: left;
}

#boxPurple{
    background-color: Purple;
    float: left;
    clear: left;
}

#boxYellow{
    background-color: Yellow;
    float: left;
}

#boxBlack{
    background-color: Black;
    float: left;
}

