
.container{
    width: 600px;
    margin: 0 auto;
    /* position: relative;
    top: 200px; */
    overflow: hidden;
}

.box{
    height: 100px;
    width: 200px;
    display: block;
    float: left;
}

.one{
    background-color: red;
    
}

.two{
    background-color: Blue;
    
}

.three{
    background-color: Green;
    
}

.four{
    background-color: Purple;
    clear: left;

}

.five{
    background-color: Yellow;
    
}

.six{
    background-color: Black;
    
}

