
/* Color Theme
#61892F Olive Green
#86C232 Dark lime green
#222629 Space Black/Grayish
#474B4F Medium gray
#6B6E70 lighter gray
*/



body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3vh;
    margin: 0 auto;
    padding: 0 auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    background:linear-gradient(rgba(107, 110, 112, .5),rgba(107, 110, 112, .5)), url(/images/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    text-decoration: none;
    flex-shrink: 1;
}

.logo-img{
    border-radius: 50%;
}
    
.menu-icon {
  font-family: Geneva, sans-serif;
  font-size: 6vh;
}
    

.hero-title {
    max-width: 7em;
    margin: 0 auto;
    font-size: 12vh;
    font-weight: bold;
    line-height: .9;
    text-align: center;
}

.sub-header-title{
    max-width: 10em;
    margin: 0 auto;
    padding-right: 3%;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
}

.sub-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-down{
    width: 60px;
    height: 20%;
    border-radius: 50%;
    opacity: 50%;
}